.mainmenunav ul.mainmenu > li.active > a {
    color: var(--color-info);
}
div.inner-cryptocurrency {
    padding-top: 100px;
    .breadcrumbs {
        background-color: #fff;
        width: calc(100% - 100px);
        margin-inline: auto;
        //margin-top: 100px;
        padding: 24px 30px; 

         ul {
            
            display: inline-flex;
            list-style: none;
            padding: 0;
            margin: 0;
            align-items: center;

            &>a {
                background-image: url(../../assets/images/icons/arrow-back.svg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                margin-right: 15px;
            }

            li {
                padding: 0 10px;

                &:not(:first-child)::before {
                    content: "/";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                    color: #B2B2B2; /* Change the color */
                    font-weight: bold; /* If you want it to be bold */
                    display: inline-block; /* Needed to add space between the bullet and the text */
                    width: 1em; /* Also needed for space (tweak if needed) */
                    margin-left: -15px; /* Also needed for space (tweak if needed) */
                    font-size: 12px;
                }

                &:first-child {
                    padding: 0 15px;
                    list-style-type: none;
                }
                a {
                    text-decoration: none;
                    color: #B2B2B2;
                    font-size: 16px; 
                    font-family: poppins,sans-serif;
                    &.active {
                        color: #000;
                    }

                    @media(max-width: 799px) {
                        font-size: 12px; 
                    }
                }
            }
        }

        @media(max-width: 799px) {
            width: 100%;
            padding: 15px 20px;
        }
    }
    .ic-cont-1 {
        min-height: 100px;
        //background-color: red;
        padding: 70px 30px 100px 30px;
        
        width: min(100%, 1364px);
        margin-inline: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        div {
            width: 50%;

            @media (max-width: 1023px) {
                width: 100%;
            }
        }

        .content-1 {
            h2 {
                color: #E8C021;
                font-family: poppins,sans-serif;
                font-weight: bold;
                font-size: 26px;
                line-height: 39px;
                width: min(100%, 408px);
                @media (max-width: 1023px) {
                    margin-inline: auto;
                 }
            }
            p {
                color: #909090;
                font-family: poppins,sans-serif;
                size: 18px;
                line-height: 32px;
                width: min(100%, 662px);

                @media (max-width: 1023px) {
                    margin-inline: auto;
                 }

                &.disclaimer {
                    margin-top: 50px;

                    span {
                        color: #000;
                        font-weight: bold;
                    }

                    a {
                        text-decoration: underline;
                        color: #0175BC;
                    }
                }
            }

            @media (max-width: 1023px) {
               text-align: center;
            }
        }
        .content-2 {
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 1023px) {
                margin-top: 30px;
             }

            picture {
                margin-left: 100px;
                display: block;
                position: relative;
                img {
                    border-radius: 20px;
                }
                a {
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    bottom: -40px;
                    padding: 24px;
                    border: 1px solid #0077B5;
                    border-radius: 42px;
                    min-width: 296px;
                    text-align: center;
                    background-color: white;
                    color: #0077B5;

                    @media (max-width: 1023px) {
                        padding: 15px;
                        bottom: -30px;
                    }
                }
                @media (max-width: 1200px) {
                    margin-left: 0;
                }
            }
        }
    }
    .ic-cont-2 {
        background-color: #0077B5;
        padding: 100px 30px 50px 30px;
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        @media (max-width: 1023px) {
            padding-top: 50px;
        }


        h2 {
            color: #E8C021;
            width: min(100%, 480px);
            margin-inline: auto;
            text-align: center;
            font-size: 26px;
            line-height: 39px;
            font-family: poppins,sans-serif;
            font-weight: bold;
        }
        .inner-cont {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 70px;
            margin-top: 70px;
            margin-bottom: -130px;
            width: 100%;

            @media (max-width: 1023px) {
                flex-wrap: wrap;
                gap: 2%;
                margin-bottom: 0px;
                margin-top: 30px;
            }

            &>div {
                //width: 33.33%;
                
                h3,p {
                    color: white;
                    margin: 0;
                    padding: 0;
                }
                p {
                    font-family: poppins,sans-serif;
                    font-size: 16px;

                    @media (max-width: 1023px) {
                        font-size: 14px !important;
                    }
                }
                h2 {
                    font-family: poppins,sans-serif;
                    font-size: 26px;
                    font-weight: bold;
                }
                &>div {
                    margin-bottom: 60px;
                }

                @media (max-width: 1023px) {
                    text-align: center !important;
                }
            }
            
            .cont-1 {
                text-align: right;
                min-width: 250px;
                @media (max-width: 1023px) {
                    order: 1;
                    width: 49%;
                    min-width: unset;
                }
            }
            .cont-2 {
                picture {
                    img {
                        width: 414px;
                        height: 510px;
                        object-fit: cover;
                        border-radius: 20px;
                        margin: 0 auto;
                    }
                }
                @media (max-width: 1023px) {
                    order: 3;
                    width: 100%;
                }
            }
            .cont-3 {
                min-width: 250px;
                @media (max-width: 1023px) {
                    order: 2;
                    width: 49%;
                    min-width: unset;
                }
            }
        }
    }
    .ic-cont-3 {
        text-align: center;
        margin: 230px 30px 150px 30px;

        @media (max-width: 1023px) {
            margin-top: 70px;
            margin-bottom: 70px;
        }

        h2 {
            color: #E8C021;
            width: min(100%, 505px);
            font-size: 26px;
            line-height: 39px;
            font-weight: bold;
            font-family: poppins,sans-serif;
            padding: 0;
            margin: 0;
            margin-inline: auto;
        }
        p {
            color: #909090;
            width: min(100%, 772px);
            margin-inline: auto;
            font-family: poppins,sans-serif;
            font-size: 18px;
            line-height: 32px;
            padding: 0;
            margin: 0;
            margin-inline: auto;
            margin-top: 20px;
        }

        form {
            margin-top: 70px;
            width: min(100%, 1120px);
            margin-inline: auto;
            padding: 50px;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            background-color: white;
            border: 10px;
            @media (max-width: 779px) {
                padding: 30px 30px;
            }
            @media (max-width: 414px) {
                padding: 30px 20px;
            }

            h3 {
                width: 100%;
                text-align: left;
                font-size: 26px;
                line-height: 39px;
                font-weight: bold;

                @media (max-width: 779px) {
                    text-align: center;
                }
            }

            input:not([type=submit]) {
                width: min(100%, calc(50% - 7.5px));
                display: inline-block;
                border-radius: 6px;
                border: 1px solid #D1D1D1;
                font-family: poppins,sans-serif;

                &::placeholder {
                    color: #C2C2C2;
                    font-size: 12px;
                }

                @media (max-width: 779px) {
                    width: 100%;
                }
                
            }
            textarea {
                border-radius: 6px;
                min-height: 165px;
                border: 1px solid #D1D1D1;
                font-size: 12px;
                padding: 15px;
                font-family: poppins,sans-serif;

                &::placeholder {
                    color: #C2C2C2;
                    font-size: 12px;
                }
            }
            input[type=submit] {
                background-color: #0175BC;
                border-radius: 6px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                width: min(100%, 143px);
                height: 55px;

                @media (max-width: 779px) {
                    width: 100%;
                }
            }
        }
    }
}